{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tiposocio</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tipoSocio.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ tipoSocio.nombre }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ tipoSocio.descripcion }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tiposocio_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('tiposocio_edit', { 'id': tipoSocio.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
